.projectsComponent {
  background-color: transparent;
  position: absolute;
  padding: 0;
  margin: 0;

  top: 198vh;
  left: 0;

  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

.projectHeader {
  color: #ddd;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #f28599;
  border: 1px solid #f28599;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  width: 57vw;
  outline: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: #f28599;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  top: 30vh;
  left: 40vh;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 57vw;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #191b40;
  color: #f28599;
  border: 1px solid #f28599;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #f28599;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: grid;
  grid-template-columns: 25vw 42vw;
  column-gap: 15px;
  row-gap: 0;
}

.description {
  grid-column: 1;
  grid-row: 1;
  margin-left: 20px;
  text-align: left;
  color: #9e91f2;
}

.projectImg {
  width: 28vw;
  height: auto;
  grid-column: 2;
  grid-row: 1;
  margin-top: 15px;
}

.url {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.hide {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}
